/*PC 환경*/
@media screen and (min-width: 1025px) {
    .contactBox {
        padding: 100px 70px 0px 70px;
    }
    
    .contentBox {
        padding-top: 10px;
        margin-bottom: 30px;
    }
    
    #icon {
        padding-top: 10px;
        margin-right: 20px;
    }
    
    .emailFormBox {
        max-width: 450px;
        padding-bottom: 40px;
    }
    
    .emailFormBox form label {
        display: block;
        margin-bottom: 10px;
        padding: 5px;
    }
    
    .emailFormBox form input[type="email"],
    .emailFormBox form input[type="text"],
    .emailFormBox form textarea {
        width: 100%;
        padding: 10px;
    
        background-color: rgb(248, 248, 248);
        border: none;
        border-bottom: 1px dashed #414141;
        outline: none;
    }
    
    .emailFormBox form textarea {
        height: 70px;
    }
    
    .emailFormBox form button {
        background-color: #f7eed7;
        border: 1px dashed #b7b7b7;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        padding: 7px 10px;
        cursor: pointer;
    }
}

/*태블릿 환경*/
@media screen and (max-width: 1024px) {
    .contactBox {
        padding: 100px 70px 0px 70px;
    }
    
    .contentBox {
        padding-top: 10px;
        margin-bottom: 30px;
    }
    
    #icon {
        padding-top: 10px;
        margin-right: 10px;
    }
    
    .emailFormBox {
        max-width: 450px;
    }
    
    .emailFormBox form label {
        display: block;
        margin-bottom: 10px;
        padding: 5px;
    }
    
    .emailFormBox form input[type="email"],
    .emailFormBox form input[type="text"],
    .emailFormBox form textarea {
        width: 100%;
        padding: 10px;
    
        background-color: rgb(248, 248, 248);
        border: none;
        border-bottom: 1px dashed #414141;
        outline: none;
    }
    
    .emailFormBox form textarea {
        height: 70px;
    }
    
    .emailFormBox form button {
        background-color: #f7eed7;
        border: 1px dashed #b7b7b7;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        padding: 7px 10px;
        cursor: pointer;
    }
}