@keyframes downSlideInText {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes enlargeShrink {
    0% {
        opacity: 0;
        transform: scale(1); /* 초기 크기 */
    }
    50% {
        opacity: 1;
        transform: scale(1.02); /* 중간 크기 (확대) */
    }
    100% {
        opacity: 1;
        transform: scale(1); /* 다시 원래 크기로 돌아감 */
    }
  }

/*PC 환경*/
@media screen and (min-width: 1025px) {
    .contactBox {
        padding: 100px 70px 0px 70px;

        > h3 {
            opacity: 0;
            animation: downSlideInText 1.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
            animation-delay: 0.5s;
        }
    }
    
    .contentBox {
        padding-top: 10px;
        margin-bottom: 30px;

        .phonNumber {
            opacity: 0;
            animation: downSlideInText 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;
            animation-delay: 1s;
        }
        
        .email {
            opacity: 0;
            animation: downSlideInText 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;
            animation-delay: 1.2s;
        }
    }
    
    #icon {
        padding-top: 10px;
        margin-right: 20px;
    }
    
    .emailFormBox {
        max-width: 450px;
        padding-bottom: 40px;

        opacity: 0;
        animation: enlargeShrink 1s ease-in-out forwards;
        animation-delay: 1.7s;
    }
    
    .emailFormBox form label {
        display: block;
        margin-bottom: 10px;
        padding: 5px;
    }
    
    .emailFormBox form input[type="email"],
    .emailFormBox form input[type="text"],
    .emailFormBox form textarea {
        width: 100%;
        padding: 10px;
    
        background-color: rgb(248, 248, 248);
        border: none;
        border-bottom: 1px dashed #414141;
        outline: none;
    }
    
    .emailFormBox form textarea {
        height: 70px;
    }
    
    .emailFormBox form button {
        background-color: #f7eed7;
        border: 1px dashed #b7b7b7;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        padding: 7px 10px;
        cursor: pointer;
    }
}

/*태블릿 환경*/
@media screen and (max-width: 1024px) {
    .contactBox {
        padding: 100px 70px 0px 70px;

        > h3 {
            opacity: 0;
            animation: downSlideInText 1.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
            animation-delay: 0.5s;
        }
    }
    
    .contentBox {
        padding-top: 10px;
        margin-bottom: 30px;

        .phonNumber {
            opacity: 0;
            animation: downSlideInText 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;
            animation-delay: 1s;
        }
        
        .email {
            opacity: 0;
            animation: downSlideInText 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;
            animation-delay: 1.2s;
        }
    }
    
    #icon {
        padding-top: 10px;
        margin-right: 10px;
    }
    
    .emailFormBox {
        max-width: 400px;
        padding-bottom: 50px;

        opacity: 0;
        animation: enlargeShrink 1s ease-in-out forwards;
        animation-delay: 1.7s;
    }
    
    .emailFormBox form label {
        display: block;
        margin-bottom: 10px;
        padding: 5px;
    }
    
    .emailFormBox form input[type="email"],
    .emailFormBox form input[type="text"],
    .emailFormBox form textarea {
        width: 100%;
        padding: 10px;
    
        background-color: rgb(248, 248, 248);
        border: none;
        border-bottom: 1px dashed #414141;
        outline: none;
    }
    
    .emailFormBox form textarea {
        height: 70px;
    }
    
    .emailFormBox form button {
        background-color: #f7eed7;
        border: 1px dashed #b7b7b7;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        padding: 7px 10px;
        cursor: pointer;
    }
}

/*모바일 환경*/
@media screen and (max-width: 375px) {
    .contactBox {
        padding: 100px 70px 0px 70px;

        > h3 {
            opacity: 0;
            animation: downSlideInText 1.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
            animation-delay: 0.5s;
        }
    }
    
    .contentBox {
        padding-top: 10px;
        margin-bottom: 30px;

        .phonNumber {
            opacity: 0;
            animation: downSlideInText 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;
            animation-delay: 1s;
        }
        
        .email {
            opacity: 0;
            animation: downSlideInText 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;
            animation-delay: 1.2s;
        }
    }
    
    #icon {
        padding-top: 10px;
        margin-right: 10px;
    }
    
    .emailFormBox {
        max-width: 400px;
        padding-bottom: 50px;

        opacity: 0;
        animation: enlargeShrink 1s ease-in-out forwards;
        animation-delay: 1.7s;
    }
    
    .emailFormBox form label {
        display: block;
        margin-bottom: 10px;
        padding: 5px;
    }
    
    .emailFormBox form input[type="email"],
    .emailFormBox form input[type="text"],
    .emailFormBox form textarea {
        width: 100%;
        padding: 10px;
    
        background-color: rgb(248, 248, 248);
        border: none;
        border-bottom: 1px dashed #414141;
        outline: none;
    }
    
    .emailFormBox form textarea {
        height: 70px;
    }
    
    .emailFormBox form button {
        background-color: #f7eed7;
        border: 1px dashed #b7b7b7;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        padding: 7px 10px;
        cursor: pointer;
    }
}