@keyframes fadeInText {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes downSlideInText {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

/*PC 환경*/
@media screen and (min-width: 1025px) {
    .projectBox {
        padding: 100px 70px 0px 70px;
    }
    
    .projectFirstText {
        opacity: 0;
        animation: downSlideInText 1.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
        animation-delay: 0.5s;
    }

    .projectImgBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 320px;
        height: 250px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: whitesmoke;

        opacity: 0;
        animation: fadeInText 2s cubic-bezier(0.42, 0, 0.58, 1) forwards;
        animation-delay: 0.5s;
    }
    
    .projectImg {
        max-width: 200px;
        max-height: 100%;
        margin-left: 60px;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .image-container {
        position: relative;
        width: 320px;
        height: 250px;
        overflow: hidden;
    }
    
    .image-container img {
        width: 100%;
        height: auto;
        transition: transform 0.3s ease;
    }
    
    .overlayCard {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #bebebe;
        color: #fff;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.2s ease;
    
        > p {
            padding: 4px;
            margin-left: 7px;
        }
    
        > button {
            padding: 5px;
            margin-left: 10px;
            border: none;
            border-radius: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            cursor: pointer;
    
            > span {
                margin-left: 3px;
            }
        }
    }
    
    .image-container:hover img {
        transform: scale(1.1);
    }
    
    .image-container:hover .overlayCard {
        opacity: 1;
    }
}

/*태블릿 환경*/
@media screen and (max-width: 1024px) {
    .projectBox {
        padding: 100px 70px 0px 70px;
    }

    .projectFirstText {
        opacity: 0;
        animation: downSlideInText 1.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
        animation-delay: 0.5s;
    }

    .projectImgBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 320px;
        height: 250px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: whitesmoke;

        opacity: 0;
        animation: fadeInText 2s cubic-bezier(0.42, 0, 0.58, 1) forwards;
        animation-delay: 0.5s;
    }
    
    .projectImg {
        max-width: 200px;
        max-height: 100%;
        margin-left: 60px;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .image-container {
        position: relative;
        width: 320px;
        height: 250px;
        overflow: hidden;
    }
    
    .image-container img {
        width: 100%;
        height: auto;
        transition: transform 0.3s ease;
    }
    
    .overlayCard {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #bebebe;
        color: #fff;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.2s ease;
    
        > p {
            padding: 4px;
            margin-left: 7px;
        }
    
        > button {
            padding: 5px;
            margin-left: 10px;
            border: none;
            border-radius: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            cursor: pointer;
    
            > span {
                margin-left: 3px;
            }
        }
    }
    
    .image-container:hover img {
        transform: scale(1.1);
    }
    
    .image-container:hover .overlayCard {
        opacity: 1;
    }
}

/*모바일 환경*/
@media screen and (max-width: 767px) {
    .projectBox {
        padding: 100px 70px 0px 70px;
    }
    
    .projectFirstText {
        opacity: 0;
        animation: downSlideInText 1.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
        animation-delay: 0.5s;
    }
    
    .projectImgBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 300px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: whitesmoke;

        opacity: 0;
        animation: fadeInText 2s cubic-bezier(0.42, 0, 0.58, 1) forwards;
        animation-delay: 0.5s;
    }
    
    .projectImg {
        max-width: 180px;
        max-height: 100%;
        margin-top: 15px;
        margin-left: 36px;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .image-container {
        position: relative;
        width: 250px;
        height: 300px;
        overflow: hidden;
    }
    
    .image-container img {
        width: 100%;
        height: auto;
        transition: transform 0.3s ease;
    }
    
    .overlayCard {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #bebebe;
        color: #fff;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.2s ease;
    
        > p {
            padding: 3px;
            margin-left: 5px;
        }
    
        > button {
            padding: 5px;
            margin-left: 10px;
            border: none;
            border-radius: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            cursor: pointer;
    
            > span {
                margin-left: 3px;
            }
        }
    }
    
    .image-container:hover img {
        transform: scale(1.1);
    }
    
    .image-container:hover .overlayCard {
        opacity: 1;
    }
}