@media screen and (min-width: 1025px) {
  .mainBox {
    width: 1166px;
    height: 100vh;
    background-color: beige;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .mainBox {
    height: 100vh;
    background-color: cadetblue;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .mainBox {
    height: 100vh;
    background-color: aquamarine;
    margin: 0 auto;
  }
}