.mainBox {
  height: 100vh;
  background-color: beige;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .mainBox {
    height: 100vh;
    background-color: cadetblue;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .mainBox {
    height: 100vh;
    background-color: aquamarine;
    margin: 0 auto;
    text-align: center;
  }
}