@media screen and (min-width: 1025px) {
  .mainBox {
    width: 1200px;
    height: 100vh;
    background-color: rgb(248, 248, 248);
    margin: 0 auto;
    display: flex;
  }

  .right {
    overflow-y: auto;
  }
}

@media screen and (max-width: 1024px) {
  .mainBox {
    height: 100vh;
    background-color: rgb(248, 248, 248);
    margin: 0 auto;
    display: flex;
  }

  .right {
    flex: 1;
    overflow-y: auto;
  }
}

@media screen and (max-width: 768px) {
  .mainBox {
    height: 100vh;
    background-color: rgb(248, 248, 248);
    margin: 0 auto;
  }
}