@media screen and (min-width: 1025px) {
  .mainBox {
    width: 1200px;
    height:max-content;
    background-color: rgb(248, 248, 248);
    margin: 0 auto;
    display: flex;
  }

  .left {
    flex: 1;
    margin-right: 350px;
  }
}

@media screen and (max-width: 1024px) {
  .mainBox {
    height:max-content;
    background-color: rgb(248, 248, 248);
    margin: 0 auto;
    display: flex;
  }

  .left {
    flex: 1;
    margin-right: 250px;
  }
}

@media screen and (max-width: 767px) {
  .mainBox {
    /* display:inline; */
    display: block;
  }

  .mobile-menu-open {
    height:max-content;
    background-color: rgb(248, 248, 248);
    margin: 0 auto;
  }

  .left {
    margin-right: 0;
  }

  #menuRightIcon {
    font-size: 2rem;
    position: relative;
  }
}