@keyframes fadeInText {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes downSlideInText {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes rightSlideInText {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes leftSlideInText {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.skillsBox {
    padding: 100px 70px 0px 70px;
    text-align: left;
}

.skillsBoxInBox {
    display: flex;
    justify-content: space-between;
}

.skillsLeft {
  flex: 1;
  padding-right: 10px;
}

.skillsRight {
  flex: 1;
  padding-left: 10px;
}

.skillsFirstText {
    animation: downSlideInText 1.5s cubic-bezier(0.42, 0, 0.58, 1);
    animation-delay: 0.5s;
}

.skillsSecondText {
    animation: fadeInText 2s ease-in-out;
    animation-delay: 0.5s;
    padding-bottom: 25px;
}

.skillsLeftCard {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

  animation: rightSlideInText 1.5s cubic-bezier(0.42, 0, 0.58, 1);
  animation-delay: 0.5s;
}

.skillsRightCard {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

  animation: leftSlideInText 1.5s cubic-bezier(0.42, 0, 0.58, 1);
  animation-delay: 0.5s;
}

.skillsBoxInBox h4, p {
  margin: 0;
}
