@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes downSlideInText {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rightSlideInText {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes leftSlideInText {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*PC 환경*/
@media screen and (min-width: 1025px) {
  .skillsBox {
    padding: 100px 70px 0px 70px;
    text-align: left;
  }
  
  .skillsBoxInBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: stretch;
  }
  
  .skillsLeft {
    flex: 1;
    padding-right: 10px;
  }
  
  .skillsRight {
    flex: 1;
    padding-left: 10px;
  }
  
  .skillsFirstText {
    opacity: 0;
    animation: downSlideInText 1.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
    animation-delay: 0.5s;
  }
  
  .skillsSecondText {
    opacity: 0;
    animation: fadeInText 2s ease-in-out forwards;
    animation-delay: 0.5s;
    padding-bottom: 10px;
  }
  
  .skillsLeftCard,
  .skillsRightCard {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .skillsLeftCard h4,
  .skillsRightCard h4 {
    margin: 10px 0 0 0;
  }
  
  .skillsLeftCard {
    opacity: 0;
    animation: rightSlideInText 2.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
    animation-delay: 0.5s;
  }
  
  .skillsRightCard {
    opacity: 0;
    animation: leftSlideInText 2.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
    animation-delay: 0.5s;
  }
  
  #textWithShadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
}

/*태블릿 환경*/
@media screen and (max-width: 1024px) {
  .skillsBox {
    padding: 100px 70px 0px 70px;
    text-align: left;
  }
  
  .skillsBoxInBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: stretch;
  }
  
  .skillsLeft {
    flex: 1;
    padding-right: 10px;
  }
  
  .skillsRight {
    flex: 1;
    padding-left: 10px;
  }
  
  .skillsFirstText {
    opacity: 0;
    animation: downSlideInText 1.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
    animation-delay: 0.5s;
  }
  
  .skillsSecondText {
    opacity: 0;
    animation: fadeInText 2s ease-in-out forwards;
    animation-delay: 0.5s;
    padding-bottom: 10px;
  }
  
  .skillsLeftCard,
  .skillsRightCard {
    height: max-content;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .skillsLeftCard h4,
  .skillsRightCard h4 {
    margin: 10px 0 0 0;
  }
  
  .skillsLeftCard {
    opacity: 0;
    animation: rightSlideInText 2.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
    animation-delay: 0.5s;
  }
  
  .skillsRightCard {
    opacity: 0;
    animation: leftSlideInText 2.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
    animation-delay: 0.5s;
  }
  
  #textWithShadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
}

/*모바일 환경*/
/* @media screen and (max-width: 768px) {
  .skillsBox {
    padding: 100px 70px 0px 70px;
    text-align: left;
  }
  
  .skillsBoxInBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: stretch;
  }
  
  .skillsLeft {
    flex: 1;
    padding-right: 10px;
  }
  
  .skillsRight {
    flex: 1;
    padding-left: 10px;
  }
  
  .skillsFirstText {
    opacity: 0;
    animation: downSlideInText 1.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
    animation-delay: 0.5s;
  }
  
  .skillsSecondText {
    opacity: 0;
    animation: fadeInText 2s ease-in-out forwards;
    animation-delay: 0.5s;
    padding-bottom: 10px;
  }
  
  .skillsLeftCard,
  .skillsRightCard {
    height: max-content;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .skillsLeftCard h4,
  .skillsRightCard h4 {
    margin: 10px 0 0 0;
  }
  
  .skillsLeftCard {
    opacity: 0;
    animation: rightSlideInText 2.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
    animation-delay: 0.5s;
  }
  
  .skillsRightCard {
    opacity: 0;
    animation: leftSlideInText 2.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
    animation-delay: 0.5s;
  }
  
  #textWithShadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
} */