@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*PC 환경*/
@media screen and (min-width: 1025px) {
  .aboutMeBox {
    padding: 100px 70px 0px 70px;
    text-align: left;
  }
  
  .aboutMeText {
    padding-top: 100px;
    opacity: 0;
    animation: fadeInText 2s ease-in-out forwards;
    animation-delay: 0.5s;
  }
}

/*태블릿 환경*/
@media screen and (max-width: 1024px) {
  .aboutMeBox {
    padding: 100px 70px 0px 70px;
    text-align: left;
  }
  
  .aboutMeText {
    padding-top: 50px;
    opacity: 0;
    animation: fadeInText 2s ease-in-out forwards;
    animation-delay: 0.5s;
  }
}

/*모바일 환경*/
@media screen and (max-width: 375px) {
  .aboutMeBox {
    padding: 100px 70px 0px 70px;
    text-align: left;
  }
  
  .aboutMeText {
    padding-top: 0;
    opacity: 0;
    animation: fadeInText 2s ease-in-out forwards;
    animation-delay: 0.5s;
  }
}