@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.aboutMeBox {
  padding: 100px 70px 0px 70px;
  text-align: left;
}

.aboutMeText {
  padding-top: 100px;
  animation: fadeInText 2s ease-in-out;
  animation-delay: 0.5s;
}