.leftBox {
    width: 330px;
    height: 100vh;
    background-color: rgb(247, 240, 215);
    text-align: center;
}

.leftBoxInImgBox {
    padding-top: 50px;
    padding-bottom: 15px;
}

.imgBox {
    width: 200px;
    height: 200px;
    background-image: url(./img/my_face.jpg);
    border-radius: 100px;
    background-size: 150%;
    background-position: center; /* 이미지를 가운데 정렬 */
    margin: auto;
}