/*PC 환경*/
@media screen and (min-width: 1025px) {
    .leftBox {
        width: 330px;
        height: 100vh;
        background-color: rgb(247, 240, 215);
        text-align: center;

        position: relative;
        transition: top 0.2s ease;
    }
    
    .leftBoxInImgBox {
        padding-top: 80px;
        padding-bottom: 25px;
    }
    
    .imgBox {
        width: 200px;
        height: 200px;
        background-image: url(../img/my_face.jpg);
        border-radius: 100px;
        background-size: 150%;
        background-position: center;
        margin: auto;
    }
    
    .menuBox > p {
        padding-top: 15px;
        cursor: pointer;
    }
}

/*태블릿 환경*/
@media screen and (max-width: 1024px) {
    .leftBox {
        width: 270px;
        height: 100vh;
        background-color: rgb(247, 240, 215);
        text-align: center;

        position: relative;
        transition: top 0.2s ease;
    }
    
    .leftBoxInImgBox {
        padding-top: 80px;
        padding-bottom: 25px;
    }
    
    .imgBox {
        width: 180px;
        height: 180px;
        background-image: url(../img/my_face.jpg);
        border-radius: 100px;
        background-size: 150%;
        background-position: center;
        margin: auto;
    }
    
    .menuBox > p {
        padding-top: 15px;
        cursor: pointer;
    }
}

/*모바일 환경*/
@media screen and (max-width: 768px) {
    .leftBox {
        /* width: 40vw; */
        max-width: 768px;
        height: 100vh;
        background-color: rgb(247, 240, 215);
        text-align: center;
        position: relative;
    }
    
    .leftBoxInImgBox {
        padding-top: 60px;
        padding-bottom: 25px;
    }
    
    .imgBox {
        width: 180px;
        height: 180px;
        background-image: url(../img/my_face.jpg);
        border-radius: 100px;
        background-size: 150%;
        background-position: center;
        margin: auto;
    }
    
    .menuBox > p {
        padding-top: 15px;
        cursor: pointer;
    }

    #menuIcon {
        font-size: 2rem;
        padding-top: 30px;

        margin-right: 10px;
        position: absolute;
        top: 0;
        right: 0;
    }

    #menuRightIcon {
        font-size: 2rem;
        margin-top: 30px;
        margin-left: 20px;
        position: relative;
    }
}